

h1{
  color: black;
  font-size: 50px;

}

h2{
  color: black;
  font-size: 20px;
 
 

}



h3{
  color:black;
  font-size: 20px;

}

h4{
  color: black;
  font-size: 20px;

}

h5{
  color: black;
  font-size: 20px;

}

h6{
  color: black;
  font-size: 20px;
}

p {font-size: 20px;}



hr {
  margin-top: 0%;
  margin-bottom: 0%;
}

